#container
{
	background-color: #191919;
}
.container-fluid
{
	background-color: #000000;
	border-color: #000000;
}
#radius 
{
	width: 60%;
	height: 80%;
	border-radius: 49%;
}
#text /* this is an id declaration*/
{ 
	font-size: 55px;
	text-align: center;
	font-family: serif;
	color: white;
}
p#tit 
{
	font-size: 26px;
	text-align:center; 
	font-family: serif;
	color: white;
}
p#text1
{
	font-size: 25px; 
	text-align:center; 
	font-family: serif;
	color: white;
}
#link
{
	width:40px;
	height:27px;
	padding-left: 10px;
}
#abtex
{
	text-align: center;
	font-size: 50px;
}
#subh
{
	font-size: 5px;
}
p#she
{
	font-size: 12px;
}
#footerco
{
	background-color: #000000;
}
a.socialIcons:hover 
{
	opacity: .8;
	filter:alpha(opacity=80);
}
#footerco p
{
	color: white;
}

 /* O - Original
 	A - Avid
 	K - Kind
*/